<a href="https://colab.research.google.com/github/Anveshkh/Scikit-learn_ml_model/blob/master/Regression_model_metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Regression Metrics**
1. R^2 Score(Coefficient of Determination)
2. Mean Absoulte Error
3. Mean Squared Error
4. Mean Squared Logarithmic Error

**1. R^2 Score**


*   R^2 score function computes the coefficient of determination .
*   It provides an indication of goodness of fit and therefore a measure of how well unseen samples are likely to be predicted by the model, through the proportion of explained variance.


*   R^2 may not be meaningfully comparable across different datasets.  


*   R-squared compares your models predictions to the mean of the targets. Values can range from negative infinity(a very poor model) to 1. For eg if all your model does is predict the mean of the targets, it's R^2 value would be 0. And if your model perfectly predicts a range of numbers it's R^2 value would be 1.

In [1]:
from sklearn.metrics import r2_score

y_true = [3, -0.5, 2, 7]
y_pred = [2.5, 0.0, 2, 8]

r2_score(y_true, y_pred)

0.9486081370449679

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [4]:
housing_df = pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [5]:
housing_df["target"] = housing["target"]
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

np.random.seed(42)

X = housing_df.drop("target", axis=1)
Y = housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)

RandomForestRegressor()

In [9]:
model.score(X_test, y_test)

0.8066196804802649

In [10]:
from sklearn.metrics import r2_score

# Fill an array with y_test mean

y_test_mean = np.full(len(y_test), y_test.mean())
y_test_mean[:10]

array([2.0550031, 2.0550031, 2.0550031, 2.0550031, 2.0550031, 2.0550031,
       2.0550031, 2.0550031, 2.0550031, 2.0550031])

In [11]:
y_preds = model.predict(X_test)
r2_score(y_true=y_test, y_pred=y_preds)

0.0

**Mean Absolute Error(MAE)**

 Mean absolute error is defined as the average absolute difference between the predicted values of the model and the true values of the data


It gives you an idea of how wrong your model predictions are.

In [12]:
from sklearn.metrics import mean_absolute_error

y_true = [3, -0.5, 2, 7]
y_pred = [2.5, 0.0, 2, 8]

mean_absolute_error(y_true, y_pred)

0.5

In [14]:
from sklearn.metrics import mean_absolute_error
y_preds = model.predict(X_test)

mae = mean_absolute_error(y_test, y_preds)
mae

0.3265721842781009

In [15]:
y_test[:10]

20046    0.47700
3024     0.45800
15663    5.00001
20484    2.18600
9814     2.78000
13311    1.58700
7113     1.98200
7668     1.57500
18246    3.40000
5723     4.46600
Name: target, dtype: float64

In [16]:
y_preds[:10]

array([0.49384  , 0.75494  , 4.9285964, 2.54029  , 2.33176  , 1.6549701,
       2.34323  , 1.66182  , 2.47489  , 4.8344779])

In [17]:
mae

0.3265721842781009

O.32 MAE means on average each of our predictions is o.32 greater or 0.32 less than the actual prediction.

In [21]:
X_test[:10]
y_test[:10]

20046    0.47700
3024     0.45800
15663    5.00001
20484    2.18600
9814     2.78000
13311    1.58700
7113     1.98200
7668     1.57500
18246    3.40000
5723     4.46600
Name: target, dtype: float64

In [23]:
df = pd.DataFrame(data={"actual values" : y_test, "predicted_values" : y_preds})
df["differences"] = df["actual values"] - df["predicted_values"]
df.head()

       actual values  predicted_values  differences
20046        0.47700          0.493840    -0.016840
3024         0.45800          0.754940    -0.296940
15663        5.00001          4.928596     0.071414
20484        2.18600          2.540290    -0.354290
9814         2.78000          2.331760     0.448240

In [25]:
np.abs(df["differences"]).mean()

0.3265721842781009

**Mean Squared Error**

Mean squared error measures the average squared difference between the estimated values and the actual values. 



*   MSE is the mean of the square of the errors between actual value and predicted value

In [27]:
from sklearn.metrics import mean_squared_error
y_preds = model.predict(X_test)

mse = mean_squared_error(y_test, y_preds)
mse

0.2534073069137548

In [28]:
mse_df = pd.DataFrame(data={"Actual_value" : y_test, "Predicted_value" : y_preds})
mse_df.head()

       Actual_value  Predicted_value
20046       0.47700         0.493840
3024        0.45800         0.754940
15663       5.00001         4.928596
20484       2.18600         2.540290
9814        2.78000         2.331760

In [31]:
mse_df["differences"] = mse_df["Actual_value"] - mse_df["Predicted_value"]
mse_df["Squared_diff"] = mse_df["differences"] ** 2
mse_df.head(10)

       Actual_value  Predicted_value  differences  Squared_diff
20046       0.47700         0.493840    -0.016840      0.000284
3024        0.45800         0.754940    -0.296940      0.088173
15663       5.00001         4.928596     0.071414      0.005100
20484       2.18600         2.540290    -0.354290      0.125521
9814        2.78000         2.331760     0.448240      0.200919
13311       1.58700         1.654970    -0.067970      0.004620
7113        1.98200         2.343230    -0.361230      0.130487
7668        1.57500         1.661820    -0.086820      0.007538
18246       3.40000         2.474890     0.925110      0.855829
5723        4.46600         4.834478    -0.368478      0.135776

On Average the square of the error between the y_true and y_pred is 0.25

**Which regression metric should you use?**



1.  R^2 is similar to accuracy. It gives you a quick indication of how well your model might be doing. Generally the closer your R^2 value is to 1.0, the better the model. But it doesn't really tell exactly how wrong your model is in terms of how far off each prediction is.

2. MAE gives a better indication of how far off each of your model's predictions are on average. 

3. As for MAE OR MSE, because of the way MSE is calculated, squaring the differences between predicted values and actual values, it amplifies larger differences.